html, body {
    margin: 0;
    height: 100%;
}
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
.leaflet-popup-content-wrapper {
    width: max-content;
    text-align: right;
    border-radius: 0;
    direction: rtl;
}
.leaflet-popup-content {
    line-height: 1.5 !important;
}
.legend {
    padding: 6px 8px;
    font: 16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    line-height: 24px;
    color: #555;
    direction: rtl;
}

.legend i {
    Background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    float: right;
    margin: 0 0 0 8px;
    opacity: 0.8;
}