html, body {
    margin: 0;
    height: 100%;
}
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
.leaflet-popup-content-wrapper {
    width: max-content;
    text-align: right;
    border-radius: 0;
    direction: rtl;
}
.leaflet-popup-content {
    line-height: 1.5 !important;
}